

/* ==========================================================================
   Autor: Pedro Oscar Nascimento
   ========================================================================== */

.filtroListar .btn-group button{
	width: 161px;
}

.filtroListar .btn-group{
	margin:0px;
	margin-bottom: 3px;
}

#mapa span{
	display: block;
	height: 500px;
	margin-top: -2px;
	z-index: 0;
}

#mapa span img {
max-width: none;
}

.fotosAnuncio img {
	cursor: pointer;
}

.banner {
	height: 118px;
	background: #dceaf4;
	margin-bottom: 10px;
}

.thumbnail {
	text-align: center;
	height: 270px;
}

.thumbnail h6 {
	height: 60px
}
