

/* ==========================================================================
   Autor: Pedro Oscar Nascimento
   ========================================================================== */

#filtroListar .btn-group button{
	width: 161px;
}

#filtroListar .btn-group{
	margin:0px;
	margin-bottom: 3px;
}















